div#searchBar {
    background-color: #1b3039;
    padding: 24px 90px 24px 90px;
}

div#searchBar h1 {
    
}

div#searchBar fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

div#searchBar > fieldset span, label {
    margin-right: 12px;
}

div#searchBar p#rangeFields {
}

div#searchBar p#rangeFields > label, input, span {
    margin-right: 12px;
}