div#movieCards {
  margin: 0 90px 0 90px;
  display: grid;
  color: rgb(255 255 255 / .79);
}

div.movieCards-sm {
  grid-template-columns: repeat(1,1fr);
  gap: 5rem;
}

div.movieCards-lg {
  grid-template-columns: repeat(3,1fr);
  gap: 5rem;
}