/* maintain consistency across browsers */
@import-normalize;

body {
  background-color: #455a64;
  color: rgb(255 255 255 / .70);
  margin: 0;
}

body h1 {
  margin: 0;
}

p {
  margin: 6px 0 6px 0;
}