/* maintain consistency across browsers, 
 added to index.tsx because the css format does not support import by default.
 @import-normalize; */

body {
  background-color: #455a64;
  color: rgb(255 255 255 / .70);
}

body h1 {
  margin: 0;
}

p {
  margin: 6px 0 6px 0;
}